<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<context id="DB2Tables" targetRuntime="MyBatis3">

		<!-- 查询单条数据插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.SelectOneByExamplePlugin"/>
		<!-- 数据Model链式构建插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.ModelBuilderPlugin"/>
		<!-- Example Criteria 增强插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.ExampleEnhancedPlugin"/>
		<!-- 数据Model属性对应Column获取插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.ModelColumnPlugin"/>
		<!-- 批量插入插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.BatchInsertPlugin"/>
		<!-- 逻辑删除插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.LogicalDeletePlugin">
			<!-- 这里配置的是全局逻辑删除列和逻辑删除值，当然在table中配置的值会覆盖该全局配置 -->
			<!-- 逻辑删除列类型只能为数字、字符串或者布尔类型 -->
			<property name="logicalDeleteColumn" value="is_deleted"/>
			<!-- 逻辑删除-已删除值 -->
			<property name="logicalDeleteValue" value="0"/>
			<!-- 逻辑删除-未删除值 -->
			<property name="logicalUnDeleteValue" value="1"/>
		</plugin>

		<!-- 官方ConstructorBased配置BUG临时修正插件 -->
		<plugin type="com.itfsw.mybatis.generator.plugins.ConstructorBasedBugFixPlugin" />

		<!-- 去除自动生成的注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>
		<!-- 数据库配置:修改配置 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
						connectionURL="jdbc:mysql://localhost:3306/test" userId="root"
						password="root">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false"/>
		</javaTypeResolver>
		<!-- 持久化对象：targetPackage：修改包名 targetProject：修改项目名 或 去除 -->
		<javaModelGenerator targetPackage="com.swellwu.po"
							targetProject="src/main/java">
			<property name="enableSubPackages" value="true"/>
			<property name="trimStrings" value="true"/>
		</javaModelGenerator>
		<!-- 数据访问对象xml实现:targetPackage：修改包名 targetProject：修改项目名 或 去除 -->
		<sqlMapGenerator targetPackage="com.swellwu.mapper"
						 targetProject="src/main/resources">
			<property name="enableSubPackages" value="true"/>
		</sqlMapGenerator>
		<!-- 数据访问对象接口: targetPackage：修改包名 targetProject：修改项目名 或 去除 -->
		<javaClientGenerator type="XMLMAPPER"
							 targetPackage="com.swellwu.mapper" targetProject="src/main/java">
			<property name="enableSubPackages" value="true"/>
		</javaClientGenerator>
		<!-- 表转代码：tableName：修改表名 -->
		<table tableName="student" enableDeleteByExample="false">
			<generatedKey column="id" sqlStatement="MySql" identity="true"/>
		</table>
	</context>
</generatorConfiguration>